.DS_Store
node_modules
wp-cli.local.yml

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
phpcs.*
!phpcs.xml

# Logs directory
logs/*
!logs/.gitkeep

# Dist directory
dist/*
!dist/.gitkeep

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.zip
.htaccess
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.bk
*.bak
*~
.orig
.patch

# WebPack js license.txt
assets/js/*.LICENSE.txt

# Composer
vendor/*
!vendor/index.php
